<div class="container">
    <p>Our Travel Destination Offers:</p>

    <div *ngFor="let offer of offers" class="card mb-3">
        <img src="{{offer.img}}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{offer.destination}}</h5>
            <p class="card-text">{{offer.description}}</p>
            <p class="card-text"><small class="text-muted"><strong>{{offer.duration}}</strong>, Departure: <strong>{{offer.startdate}}</strong></small></p>
            <button class= "btn btn-outline-dark"><strong>Book for: {{offer.price | currency:'EUR':true}}</strong></button>
        </div>
    </div>

    <div class="costs">
        <p id = "price">Price: </p>
        <p id = "discount">Discount: </p>
        <p id = "sum">Price Total: </p>
    </div>
</div>