footer {
    height: 8em;
    background-color:#055f6d;
    border-top: 0.13em solid black;
    margin-top: 2em;
    
    p {
        font-family: 'Dancing Script', cursive;
        text-align: center;
        color: white;
        font-size: 2em;
        padding-top: 1em;
    }
}