.hometext {
    font-family: 'Dancing Script', cursive;
    margin-bottom: 2em;
}

.collapse {
    background-color: white;
}

/*adapts color to website color palette*/
.accordion-button {
    &:not(.collapsed) {
        color: #16181b;
        background-color: #e7f1ff;
        box-shadow: inset 0 -1px 0 rgba(12, 12, 12, 0.125);
    } 
}

.accordion-button {
    &:focus {
        z-index: 3;
        border-color: #080a0e;
        outline: 0;
        box-shadow: 0 0 0 .25rem rgba(14, 15, 15, 0.25);
    }
}

/*accordion image styling*/
.img-fluid {
    min-height: 20em;
    object-fit: cover;
}

/*hide accordion image for smaller screens*/
@media screen and (max-width: 768px) {
 .img-fluid {
     display: none;
 }
}

