<div class = "container">
    <div class= "hometext">
        <h4><em>We will make your Vacation Unforgettable</em></h4>
        <h2>Services We Offer</h2>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Travel Insurance
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body row">
                    <div class = "col-12 col-md-8">
                        <strong>Insurance packages accustomed to your needs.</strong><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed porttitor nibh. Morbi sem ex, consequat vel erat nec, tincidunt laoreet ipsum. Duis varius dolor ac velit faucibus euismod. Quisque vehicula odio mauris, vitae auctor urna posuere sed. Duis quis eros non lorem consectetur tempor ut lobortis orci. Curabitur bibendum, ante sit amet feugiat malesuada, eros metus sollicitudin ex, nec tempus arcu est vel velit. <br>Donec ornare ligula nunc, eu ultricies ex facilisis ut. Nunc ultricies eu magna ac auctor. In sit amet orci sit amet ex sollicitudin elementum. Aenean cursus magna ac eleifend eleifend. Praesent porta est a eros cursus, non congue erat congue.
                Etiam in diam ultricies, malesuada turpis eget, rhoncus lectus. Mauris fringilla in leo eu pharetra. Vivamus pulvinar, turpis in elementum facilisis, ante neque commodo augue, sed malesuada tellus odio vel dolor. Donec rhoncus, diam at posuere imperdiet, lectus massa molestie elit, vitae aliquet magna nunc finibus augue. Aliquam sodales in lorem sed iaculis. Nunc laoreet sem nisi, nec consectetur turpis accumsan sit amet. Fusce eget lobortis arcu, ac hendrerit libero. Mauris placerat eleifend augue, ut tristique libero. Proin non metus dignissim, convallis odio a, luctus augue. Donec molestie maximus dapibus. Donec at quam massa. Curabitur ullamcorper purus finibus dolor tempus viverra.
                    </div>
                    <div class = "col-md-4">
                        <img src = "../../assets/img1.jpg" class = "img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Flights
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body row">
                    <div class = "col-12 col-md-8">
                        <strong>Insurance packages accustomed to your needs.</strong><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed porttitor nibh. Morbi sem ex, consequat vel erat nec, tincidunt laoreet ipsum. Duis varius dolor ac velit faucibus euismod. Quisque vehicula odio mauris, vitae auctor urna posuere sed. Duis quis eros non lorem consectetur tempor ut lobortis orci. Curabitur bibendum, ante sit amet feugiat malesuada, eros metus sollicitudin ex, nec tempus arcu est vel velit. <br>Donec ornare ligula nunc, eu ultricies ex facilisis ut. Nunc ultricies eu magna ac auctor. In sit amet orci sit amet ex sollicitudin elementum. Aenean cursus magna ac eleifend eleifend. Praesent porta est a eros cursus, non congue erat congue.
                Etiam in diam ultricies, malesuada turpis eget, rhoncus lectus. Mauris fringilla in leo eu pharetra. Vivamus pulvinar, turpis in elementum facilisis, ante neque commodo augue, sed malesuada tellus odio vel dolor. Donec rhoncus, diam at posuere imperdiet, lectus massa molestie elit, vitae aliquet magna nunc finibus augue. Aliquam sodales in lorem sed iaculis. Nunc laoreet sem nisi, nec consectetur turpis accumsan sit amet. Fusce eget lobortis arcu, ac hendrerit libero. Mauris placerat eleifend augue, ut tristique libero. Proin non metus dignissim, convallis odio a, luctus augue. Donec molestie maximus dapibus. Donec at quam massa. Curabitur ullamcorper purus finibus dolor tempus viverra.
                    </div>
                    <div class = "col-md-4">
                        <img src = "../../assets/img2.jpg" class = "img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Accomodation
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body row">
                    <div class = "col-12 col-md-8">
                        <strong>Insurance packages accustomed to your needs.</strong><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed porttitor nibh. Morbi sem ex, consequat vel erat nec, tincidunt laoreet ipsum. Duis varius dolor ac velit faucibus euismod. Quisque vehicula odio mauris, vitae auctor urna posuere sed. Duis quis eros non lorem consectetur tempor ut lobortis orci. Curabitur bibendum, ante sit amet feugiat malesuada, eros metus sollicitudin ex, nec tempus arcu est vel velit. <br>Donec ornare ligula nunc, eu ultricies ex facilisis ut. Nunc ultricies eu magna ac auctor. In sit amet orci sit amet ex sollicitudin elementum. Aenean cursus magna ac eleifend eleifend. Praesent porta est a eros cursus, non congue erat congue.
                Etiam in diam ultricies, malesuada turpis eget, rhoncus lectus. Mauris fringilla in leo eu pharetra. Vivamus pulvinar, turpis in elementum facilisis, ante neque commodo augue, sed malesuada tellus odio vel dolor. Donec rhoncus, diam at posuere imperdiet, lectus massa molestie elit, vitae aliquet magna nunc finibus augue. Aliquam sodales in lorem sed iaculis. Nunc laoreet sem nisi, nec consectetur turpis accumsan sit amet. Fusce eget lobortis arcu, ac hendrerit libero. Mauris placerat eleifend augue, ut tristique libero. Proin non metus dignissim, convallis odio a, luctus augue. Donec molestie maximus dapibus. Donec at quam massa. Curabitur ullamcorper purus finibus dolor tempus viverra.
                    </div>
                    <div class = "col-md-4">
                        <img src = "../../assets/img3.jpg" class = "img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Sightseeing
            </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body row">
                    <div class = "col-12 col-md-8">
                        <strong>Insurance packages accustomed to your needs.</strong><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed porttitor nibh. Morbi sem ex, consequat vel erat nec, tincidunt laoreet ipsum. Duis varius dolor ac velit faucibus euismod. Quisque vehicula odio mauris, vitae auctor urna posuere sed. Duis quis eros non lorem consectetur tempor ut lobortis orci. Curabitur bibendum, ante sit amet feugiat malesuada, eros metus sollicitudin ex, nec tempus arcu est vel velit. <br>Donec ornare ligula nunc, eu ultricies ex facilisis ut. Nunc ultricies eu magna ac auctor. In sit amet orci sit amet ex sollicitudin elementum. Aenean cursus magna ac eleifend eleifend. Praesent porta est a eros cursus, non congue erat congue.
                Etiam in diam ultricies, malesuada turpis eget, rhoncus lectus. Mauris fringilla in leo eu pharetra. Vivamus pulvinar, turpis in elementum facilisis, ante neque commodo augue, sed malesuada tellus odio vel dolor. Donec rhoncus, diam at posuere imperdiet, lectus massa molestie elit, vitae aliquet magna nunc finibus augue. Aliquam sodales in lorem sed iaculis. Nunc laoreet sem nisi, nec consectetur turpis accumsan sit amet. Fusce eget lobortis arcu, ac hendrerit libero. Mauris placerat eleifend augue, ut tristique libero. Proin non metus dignissim, convallis odio a, luctus augue. Donec molestie maximus dapibus. Donec at quam massa. Curabitur ullamcorper purus finibus dolor tempus viverra.
                    </div>
                    <div class = "col-md-4">
                        <img src = "../../assets/img4.jpg" class = "img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>      
