.herotext {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: -1px 0px 21px rgba(0, 142, 255, 1);
    padding: 6em 0 6em 0;
    
    h1 {
       font-family: 'Dancing Script', cursive;;
    }
}


