.hometext {
    font-family: 'Dancing Script', cursive;
    margin-bottom: 2em;
}

.accordion-button:focus {
    z-index: 3;
    border-color: black;
    outline: 0;
    box-shadow: 0;
}

.accordion-button:not(.collapsed) {
    /* color: #0c63e4; */
    background-color: black;
}

